/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Additional global styles */
:root {
  --overlay-color: #1b2102d2;
  --primary-color: #6e870b; /* Button and overlay color */
  --secondary-color: #93ad19; /* Button hover color */
  --background-color: #ebf4c4; /* Modal background color */
}
