/* ModalTrigger.css */
@import '../index.css';

.button {
    background-color: #6e870b; /* Primary color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* Add margin between buttons */
  }
  
  .button:last-child {
    margin-right: 0; /* Remove margin for the last button */
  }
  